# Default ignored files
/shelf/
/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

test
target
log

PID
~$*xlsx
dependency-reduced-pom.xml
.mvn