<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration added to prevent logback default of DEBUG output -->
<configuration scan="true" scanPeriod="60 seconds">
        <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

        <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
        <property name="LOG_HOME" value="./log" />
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%4d{yyyy-MM-dd HH:mm:ss.fff} %highlight(%-5level) [%thread] at %class.%method \(%file:%line\) [%X{playerId}] - %m%n</pattern>
                </encoder>
        </appender>
        <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_HOME}/slots.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <FileNamePattern>${LOG_HOME}/slots-%d{yyyy-MM-dd-HH}.log</FileNamePattern>
                </rollingPolicy>
                <encoder>
                        <pattern>%4d{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5p - %c [%X{playerId}] - %m%n</pattern>
                </encoder>
        </appender>

        <logger name="com.jjg.game" level="debug" />
        <logger name="org.apache.commons.httpclient" level="error" />
        <logger name="org.apache.kafka" level="WARN"/>
        <logger name="com.jjg.game.slots.game.dollarexpress.manager.DollarExpressGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.mahjiongwin.manager.MahjiongWinGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.cleopatra.manager.CleopatraGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.superstar.manager.SuperStarGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.wealthgod.manager.WealthGodGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.thor.manager.ThorGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.christmasBashNight.manager.ChristmasBashNightGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.basketballSuperstar.manager.BasketballSuperstarGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.frozenThrone.manager.FrozenThroneGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.steamAge.manager.SteamAgeGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.captainjack.manager.CaptainJackGameGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.goldsnakefortune.manager.GoldSnakeFortuneGenerateManager" level="error"/>
<!--        <logger name="com.jjg.game.slots.game.moneyrabbit.manager.MoneyRabbitGenerateManager" level="error"/>-->
        <logger name="com.jjg.game.slots.game.pegasusunbridle.manager.PegasusUnbridleGameGenerateManager" level="error"/>
        <logger name="com.jjg.game.slots.game.wealthbank.manager.WealthBankGenerateManager" level="error"/>

        <root level="info">
                <appender-ref ref="console" />
                <appender-ref ref="file" />
        </root>
</configuration>

