<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数 -->
<Configuration status="info" monitorInterval="30"
	shutdownHook="disable">

	<Appenders>
		<Console name="stdoutErr" target="SYSTEM_ERR">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS} %p] [%thread] (%F:%L) %m%n" />
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</Console>

		<Console name="stdoutOut" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS} %p] [%thread] (%F:%L) %m%n" />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
			</Filters>
		</Console>


		<!-- 也可以直接输出到 Apache Flume -->
		<RollingFile name="RollingFileSystem"
			fileName="logs/SystemLog.log"
			filePattern="logs/SystemLog_%d{yyyyMMddHH}_%i.log">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS} %p][%thread](%F:%L)%m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy fileIndex="nomax">
				<Delete basePath="logs/" maxDepth="2">
					<IfLastModified age="10d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>


		<!-- 文件输出用异步 -->
		<!-- 不需要位置信息 includeLocation="false" -->
		<!-- 根据性能情况 考虑替换 AsyncLogger Disruptor -->
		<Async name="asyncSystem" bufferSize="2048"
			includeLocation="true">
			<AppenderRef ref="RollingFileSystem" />
		</Async>
	</Appenders>
	<Loggers>
		<!-- 插件包日志控制 -->
		<logger name="io.netty" level="ERROR" additivity="false">
			<appender-ref ref="stdoutOut" />
			<appender-ref ref="stdoutErr" />
			<appender-ref ref="asyncSystem" />
		</logger>

		<logger name="org.apache.http" level="ERROR" additivity="false">
			<appender-ref ref="stdoutOut" />
			<appender-ref ref="stdoutErr" />
			<appender-ref ref="asyncSystem" />
		</logger>

		<!-- 根引用配置 -->
		<Root level="info">
			<AppenderRef ref="stdoutOut" />
			<AppenderRef ref="stdoutErr" />
			<AppenderRef ref="asyncSystem" />
		</Root>
	</Loggers>
</Configuration>